*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    height: 1320px;
    width: 900px;
    margin: auto;
    padding-bottom: 1000px;
    border-radius: 15px 15px 0px 0px;
    background-color: #fff;
    padding: 20px;
}
.head{
    height: 100px;
    width: 100%;
}
.logo{
    height: 100px;
    width: 90px;
    float: left;
}
.title{
    height: 90px;
    float: right;
    width: 89%;
    padding: 10px 0px 0px 0px;
}
#menu{
    height: 45px;
    width: 100%;
    background-color: #1B1464;
    margin: 0px 0px 10px 0px ;
    font-size: 14px;
}
nav ul {
    padding: 0px;
    list-style: none;
    width: 100%;
}
nav ul li{
    float:left;
    padding: 10px 0px 10px 0px;
}
nav ul li:hover{
    background-color:#FFC312;
    height: 25px;
    transition: background-color 1s ease;
}
nav ul li:hover a{
    color:#222f3e;
}
nav ul li a{
    padding: 0px 15px 0px 15px;
    color: #fff;
    text-decoration: none;
}
.img-header{
    width: 100%;
}
.content-welcome{
    height: auto;
    width: 800px;
    padding: 5px 50px 0px 50px;
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
}
.content-about{
    height: 260px;
    width: 100%;
    margin-top: 20px;
    background-color: #1B1464;
}
.content-about-teks{
    height: auto;
    width: 370px;
    float: right;
    color: #fff !important;
    margin-left: 10px;
    font-size: 13px;
    padding: 23px 15px 15px 15px;
}
.content-about-img{
    height: 200px;
    width: 490px;
    float: left;
}
.btn{
    border:none;
    border-radius: 5px;
    padding: 4px 10px 4px 10px;
    float: left;
    margin-top: 3px;
    background-color:#FFC312;
    color: #2f3640;
    font-weight: bold;
}
.news-container{
    width: 100%;
    height: 250px;
}
.news-card{
    width: 182px;
    height: 220px;
    float: left;
    margin-right: 15px;
    font-size: 13px;
    padding: 15px;
    border: 1px solid #7f8fa6;
}
.news-card-nomargin{
    width: 181px;
    height: 219px;
    float: left;
    padding: 15px;
    font-size: 13px;
    border: 1px solid #7f8fa6;
}
.gallery-container{
    width: 100%;
    height: 75px;
}
.gallery-card{
    width: 141px;
    height: 75px;
    float: left;
    margin-right: 10px;
}
.gallery-card-nomargin{
    width: 145px;
    height: 75px;
    float: left;
}
.footer{
    height: 20px;
    width: 910px;
    padding: 15px;
    background-color: #2f3640;
    color: #fff;
    font-size: 13px;
    border-radius: 0px 0px 15px 15px;
    text-align: center;
    margin: auto;
}
.about-content{
    height: auto;
    width: 100%;
    text-align: justify;
    margin-top: 10px;
    font-size: 13px;
}
.profil-container{
    width: 100%;
    height: 250px;
    margin-top: 20px;
}
.profil-card{
    width: 182px;
    height: 220px;
    float: left;
    margin-right: 15px;
    font-size: 13px;
    padding: 15px;
    border: 1px solid #7f8fa6;
}
.img{
    display: block;
    margin: auto;
    border: 1px solid #000;
}
.profil-card-nomargin{
    width: 181px;
    height: 219px;
    float: left;
    padding: 15px;
    font-size: 13px;
    border: 1px solid #7f8fa6;
}
.profil-title{
    font-size: 12px;
    margin-top: 5px;
    font-weight: bold;
    text-align: center;
}
.profil-sub{
    font-size: 11px;
    font-style: italic;
    text-align: center;
}